In [20]:
import sqlite3

In [23]:
def create_table():
    conn = sqlite3.connect("test.sqlite")
    cur = conn.cursor()
    cur.execute("CREATE TABLE test_table(id int auto_increment primary key ,name TEXT,age int not null, address varchar(40),brief char(20))")

    print("DB created")
    conn.commit()
    conn.close()

In [24]:
create_table()

DB created

In [27]:
def insert(ID,name,age,address,brief):
    conn=sqlite3.connect("test.sqlite")
    cur = conn.cursor()
    cur.execute("INSERT INTO test_table (id,name,age,brief,address) VALUES (?,?,?,?,?)",(ID,name,age,brief,address))
    conn.commit()
    conn.close()

In [28]:
insert(1,"abdo",24,"Egypt",'Data scientist')

In [8]:
insert(2,"mohamed",28,"Egypt",'Data analyst')

In [9]:
insert(3,"ali",28,"Egypt",'DBA')

In [29]:
def view():
    conn = sqlite3.connect("test.sqlite")
    cur = conn.cursor()
    cur.execute("SELECT * FROM test_table")
    rows = cur.fetchall()
    conn.close()
    print(rows)
    for row in rows:
        print(row)

In [30]:
view()

[(1, 'abdo', 24, 'Egypt', 'Data scientist')]
(1, 'abdo', 24, 'Egypt', 'Data scientist')

In [16]:
def select():
    conn = sqlite3.connect('test.sqlite')
    cursor = conn.cursor()
    for row in cursor.execute("SELECT id, name from test_table"):
        print(row)
        print("ID = ", row[0])
        print("NAME = ", row[1], "\n")
    conn.commit()
    conn.close()

In [17]:
select()

(1, 'abdo')
ID =  1
NAME =  abdo

(2, 'mohamed')
ID =  2
NAME =  mohamed

(3, 'ali')
ID =  3
NAME =  ali

In [103]:
def update_row():
    conn = sqlite3.connect('test.sqlite')
    cursor = conn.cursor()
    conn.execute("UPDATE test_table set brief = 'senior data scientist' where ID = 1")
    conn.commit()
    for row in cursor.execute("SELECT id, name, brief from test_table"):
        print("ID = ", row[0])
        print("NAME = ", row[1])
        print("brief = ", row[2], "\n")
    conn.commit()
    conn.close()

In [104]:
update_row()

ID =  1
NAME =  abdo
brief =  senior data scientist

ID =  2
NAME =  mohamed
brief =  Data analyst

ID =  3
NAME =  ali
brief =  DBA

In [106]:
def delete_row():
    conn = sqlite3.connect('test.sqlite')
    cursor = conn.cursor()
    conn.execute("DELETE from  test_table where ID = 2")
    conn.commit()
    for row in cursor.execute("SELECT id, name from test_table"):
        print("ID = ", row[0])
        print("NAME = ", row[1])
    conn.commit()
    conn.close()

In [107]:
delete_row()

ID =  1
NAME =  abdo
ID =  3
NAME =  ali