In [4]:
name1=input("Please Enter Your name: ")
age1=float(input("Please Enter Your Age: "))

name2=input("Please Enter Your name: ")
age2=float(input("Please Enter Your Age: "))

name3=input("Please Enter Your name: ")
age3=float(input("Please Enter Your Age: "))


d={"Name":[name1,name2,name3],"Age":[age1,age2,age3]}

Please Enter Your name: ahmed
Please Enter Your Age: 20
Please Enter Your name: ali
Please Enter Your Age: 30
Please Enter Your name: samy
Please Enter Your Age: 20

In [3]:
print(d["Name"][0],":",d["Age"][0])
print(d["Name"][1],":",d["Age"][1])

ahmed : 25.0
abdo : 24.0

In [6]:
a="ahmed"
b=" ali"
a+b

'ahmed ali'

In [11]:
d=int(input("age "))
a=str(d)
b='ahmed'
a+b

age 25

'25ahmed'

In [14]:
print("my name is :","ali","my age is " + str(25))

my name is : ali my age is 25

In [20]:
a="ahmed"
b=20

In [23]:
print("my name is : {} ".format(a+str(b)))

my name is : ahmed20

In [24]:
type(b)

int

In [28]:
l=["hello","i'm","ali"]
"?".join(l)

"hello?i'm?ali"

In [29]:
s="hello?i'm?ali"
s.split("?")

['hello', "i'm", 'ali']

In [35]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
s='ahmed'

In [50]:
a="ahmed"
b=3

In [51]:
if a=="ahmed" and b!=6:
    print("a is equal 5 and b is equal 6") 
elif a==6 or b==5:
    print(" condition 2")
elif a>=6 or b==3:
    print(" condition3")

elif a<=6:
    print(" condition3 ")
    
else:
    print("a is not a number")

a is equal 5 and b is equal 6

In [53]:
l=[10,20,30,40]
if 10 in l:
    print("element exists in list1")
elif 20 in l:
    print("elemen ecists in list2")

element exists in list1

In [55]:
l=[10,20,30,40]
if (10 in l) and (20 in l):
    print("element exists in list1")

element exists in list1

In [59]:
l=[(10,20),30,40]
if (10,20)in l:
    print("element exists in list1")
else:
    print("nothing")

nothing

In [65]:
l=[10,20,30,40]
if 10 and 50 in l:
    print("element exists in list1")
else:
    print("nothing")

nothing

In [69]:
a="ahmed"
if ("A" in a) and ("h" in a):
    print("gotcha!")
else:
    print("nah!")

nah!

In [73]:
l=[10,20,30,50]
for i,b in enumerate(l):
    print(i,b)

0 10
1 20
2 30
3 50

In [74]:
a="ahmed and ali"
for i,b in enumerate(a):
    print(i,b)

0 a
1 h
2 m
3 e
4 d
5
6 a
7 n
8 d
9
10 a
11 l
12 i

In [82]:
a=[50,20,30,100]
for i,b in enumerate(a):
    if b==20:
        print(i)
        break
    else: 
        print(i)

0
1

In [88]:
l=["Ali","mahmoud","samy"]
for i,d in enumerate(l):
    print(d.find("a"))

-1
1
1

In [92]:
d={"name":"ahmed","age":25}

In [93]:
d["x"]=50

In [94]:
d

{'name': 'ahmed', 'age': 25, 'x': 50}

In [95]:
d["x"]=40

In [96]:
d

{'name': 'ahmed', 'age': 25, 'x': 40}

In [111]:
d={}
for i in range(0,3):
    print(i)
    dd=input()
    vv=input()
    d[dd]=vv

0
v0
b0
1
v1
b1
2
v2
b2

In [117]:
for k,v in d.items():
    print(k,v)

v0 b0
v1 b1
v2 b2